h1{
    color:#F7A4A4;

}
a{
    color: #B6E2A1;
    margin: 10px;
}
body{
    text-align:center;
}
 
 h2{
    color:#FEBE8C;
 }
 ul{
    list-style-position: inside
 }
 ol{
    list-style-position: inside
 }
 .color{
    color:#6D67E4 ;
    

 }